h1 {
  text-align: center;
}

#firstH1 {
  text-align: center;
}

#firstH2 {
  text-align: center;
}

#background {
  background-image: url("fotolia_brain_5615_3.jpg");
  height: 300px;
  color: white;
  font-size: 3em;
}
form {
  text-align: center;
}
.carousel-item {
  img width="400" height="400"
}

#Disease {
  color: blue;
}

#Disease:hover {
  font-size: 25px;
  font-size-adjust: 20px;
}

#Company{
  color: rgb(153,50,204);
}

#Company:hover {
  font-size: 25px;
  font-size-adjust: 20px;
}

#data {
  text-align: center;
}

#Contact {
  text-align: center;
}

#info {
  color: grey;
}

body {
  background-color: rgb(102, 204, 255);
  font-family:"Comic Sans MS";
}

.carousel-inner > .item > img {
  width:640px;
  height:360px;
}
